@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #333;
}

.logo {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.logo .logo-icon {
    font-size: 20px;
    margin-right: 10px;
}

/* Utility classes */
.primary-btn{
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background: #7A1CAC;
}